$font__main: 'Gibson-Regular';
$font__code: "Gibson-Regular", "helvetica neue", "helvetica", arial, sans-serif;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;